@use './App.sass'
    
.movie-card
    cursor: pointer
    width: 30%
    height: 600px
    border: solid 1px 
    border-radius: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    background: App.$lighteraccent
    color: #fff
    padding: 30px 10px
    margin: 10px 10px
    .card-title
        font-size: 24px
        margin: 10px 0
    .img-container-card
        display: flex
        justify-content: center
        width: 100%
        height: 65%
        aspect-ratio: 1/1
        .card-img
            border-radius: 20px
            width: 90%
            height: 100%
    .card-params
        display: flex
        justify-content: space-between
            

            
    